<ion-view view-title="消息.." hide-nav-bar="true" >
  <ion-content class = "padding" has-header="false" padding="true">

      <p>
        <a class="button button-block button-positive icon icon-right ion-chevron-right"   ui-sref="tab.taskMessage" >任务消息</a>
      </p>

      <p>
        <a class="button button-block button-positive icon icon-right ion-chevron-right"   ui-sref="tab.taskIm" >即时消息</a>
      </p>

      <p>
        <a class="button button-block button-positive icon icon-right ion-chevron-right"   ui-sref="tab.taskBoard" >公告消息</a>
      </p>

  <!--div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs" >
      <a class="tab-item active"  ui-sref="tab.task">
        任务消息
      </a>
      <a class="tab-item" href="#">

        即时消息
      </a>
      <a class="tab-item" href="#">
        公告消息
      </a>
    </div>
  </div-->


</ion-content>

</ion-view>
